.loader {
    /* min-height: 100dvh; */
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(90deg, var(--white), var(--white4), var(--white));
    border-radius: 8px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  